html {
  background-color: #E6EAE5;
}

h2 {
  color: #696969;
  text-align: center;

}

p {
  color: #696969;
  text-align: center;
  margin-bottom: 30px;
}

.inline {
  display: inline;
  width: 600px;
  margin-top: 30px;
  position: relative;
  left: 95px;

}


}

.block {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  border: 2px solid #696969;
  width: 200px;
  padding: 10px;
}

img {

  margin: 10px;
  height: 250px;
  width: 250px;

}


.inline2 {
  display: inline;
  width: 600px;
  position: relative;
  left: 95px;
}

.block2 {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  border: 2px solid #696969;
  width: 200px;
  padding: 10px;
  padding-left: 0.6cm;
  padding-right: 0.6cm;
}
