html {
  background-color: #E6EAE5;
}


}
h2 {
  color: #696969;
}
p {
  color: #696969;
  font-size: 0.6em;
  margin: -13px auto 25px auto;
}
.wrapper {
  margin: 40px auto;
  width: 750px;
  text-align: center;
}
.grid {
  height: 200px;
  margin: 0 0 30px 0;
}
.box {
  width: 25%;
  display: inline-block;
  margin: 0 5px 0 5px;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}
#box1 {
  background-image: url("/img/san-francisco.jpg");
}
#box2 {
  background-image: url("/img/new-york.jpg");
}
#box3 {
  background-image: url("/img/london.jpg");
}
#box4 {
  background-image: url("/img/napa.jpg");
}
#box5 {
  background-image: url("/img/sonoma.jpg");
}
#box6 {
  background-image: url("/img/san-francisco-2.jpg");
}
span {
  position: relative;
  top: 46%;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
button {
  text-align: center;
  width: 185px;
  background: #F7F8F7;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  color: #696969;
  font-size: 0.6em;
  padding: 5px 0;
  margin: 0 0 18px 0;
}
